.cover {
  width: 100%;

  background-image: url("https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d2ViJTIwZGVzaWdufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
p{
  padding-bottom: 0px;
}
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email {
  width: 100%;
  height: 30px;
}
#name {
  width: 100%;
  height: 30px;
}

#number {
  width: 100%;
  height: 30px;
}

#survey-form {
  width: 40%;
  border: 1px solid black;
  padding: 10 30 20 20;
  background-color: #1b1b32;
  border-radius: 5px;
  margin-bottom: 50px;
  opacity: 0.9;
}
.form p {
  text-align: left;
}

#role {
  width: 100%;
}

#dropdown {
  justify-content: left;
}

#role-input {
  height: 30px;
  width: 100%;
}
#option-input {
  height: 30px;
  width: 100%;
}

.text-area {
  width: 100%;
}

.submit {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: #37af65;
  color: white;
  font-weight: bold;
}
