li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
  padding: 17px 15px 15px 15px;
}

a:hover {
  background-color: #0ff;
}

#navbar {
  background-color: #be3144;
  position: fixed;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
.nav-list > li {
  font-size: 24px;
}
