body {
  background-color: #ebebeb;
}
#header-img {
  width: 200px;
}
#page-wrapper {
  position: relative;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 110px auto 0 auto;
}
header#header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  padding: 0px 50px 10px 30px;
  width: 100%;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul li {
  list-style: none;
  padding-right: 50px;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

#nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 1px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  background-color: #f1c40f;
}
#search-input {
  margin-bottom: 10px;
  width: 250px;
  height: 18px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
.grid {
  display: flex;
}
#thor {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#features {
}

#tb-price {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
@media (max-width:800px) {
  #tb-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.product {
  width: 100%;
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

button:hover{
  background-color: orange;
  transition: background-color 1s;
}
.level {
  background-color: #cbcbcb;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
